.tourist-attractions-page .title-container {
  background-image: url('/public/assets/tourist2.jpg');
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.map-placeholder {
  height: 200px;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.footer{
  background-color: black;
  color: #fff; 
  padding: 20px 0; 
  text-align: center; 
}
.background{
  background-color: rgb(148, 8, 8);
  color: #fff; 
  padding: 20px 0; 
  text-align: center; 
}
.bold-text{
  font-weight: bold;
  background-color:rgb(148, 8, 8) ;
  color: #e9ecef;
}
.align{
  text-align: left;
  font-size: large;
  
}
.button{
  margin-top: 280px
}
.comment{
  background-color:white ;
  color: rgb(245, 235, 92);
}
